.pomodoro {
  flex: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pomodoro form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--gray-100);
  font-size: 1.125rem;
  font-weight: bold;
  flex-wrap: wrap;
}

.input {

}

.task {

}

.minutesAmount {
  
}