.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
}

.avatarWithBorder {
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
  border: 4px solid var(--purple-700);
  outline: 2px solid var(--purple-500);
}