* {
  margin: 0;
  padding: 0;
  /* simplifica o cálculo de tamnho das caixas */
  box-sizing: border-box; 
  font-family: 'Source Sans Pro', sans-serif;
  /* border: 1px solid red ; */
}

:root {
  --background-color : #202723;
  --primary-color: #5c7470;
  --secondary-color: #8da0a4;
}

body{
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em;
  /* px, em: proporcional a fonte, vh ou vw */
}

#calculator {
  width: 500px;
  padding: 0.5em;
  background-color: var(--secondary-color);
  color: #000;
  display: flex;
  flex-direction: column;
  border-radius: 0.4em;
}

#calculator h2 {
  font-size: 1.8em;
  font-weight: bolder;
  color: #000;
}

#operations {
  text-align: right;
}

#last-operation {
  color: rgb(52, 52, 52);
  overflow-wrap: break-word;
  padding: 0.2em;
  min-height: 1.7em;
}

#current-operation {
  overflow-wrap: break-word;
  padding: 0.2em;
  min-height: 1.7em;
  font-size: 3em;
  font-weight: 800;
}

#buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4px;
}

#buttons-container button {
  border: transparent solid 2px;
  border-radius: 0.6em;
  height: 3em;
  font-size: 1.2em;
  cursor: pointer;
}

#buttons-container button:hover {
  background-color: #8da0a4;
  border-color: #01483c;
}

#zero-btn {
  grid-column: span 2;
}

#buttons-container .number {
  background-color: #b4b4b4;
}

#equal-btn {
  background-color: rgb(201, 97, 49);
}