* {
  margin: 0;
  padding: 0;
}

h3 {
  color: red;
  background-color: black;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 0;
}


/* margin */
/* top rigth bottom left */
/* vertical horizontal */
/* top horizontal bottom*/
/* global */
.noticia {
  border: 2px solid black;
  /* margin: 5px */
  /* margin: 2px 30px */
  margin: 2px 30px 2px;
  color: blueviolet;
}

#noticias {
  border: 3px solid purple;
  border-radius: 2%;
}